[system]
file_in_meteor = in/group1_orbits.dat
file_ast_repo = in/MPCORB_Orbital_Elements.DAT
checkpoint = out/reboot.bin
file_coll = out/collission.txt
save_file = out/ephemerides


# SIMULATION Parameters
[sim_param]

major_bodies = Sun, Mercury, Venus, 399, 301, Mars, Jupiter, Saturn, Uranus, Neptune
minor_bodies = 2010 HY22, 2015 OA22, 2001 XQ, 1900 Y1

kappa_cygnid = 3.74, 0.974, 35.5, 142, 204.1

# in years
sim_time = 4.0e4
sim_step = 1.e-2

[clones]
active = False
n_clones = 10
seed_rd = 426347637

